@import "../../index.scss";
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 74px;
    background-color: $subject-color;
    padding: 20px 0;
    font-size: 2.6rem;
    color: $white-color;
    z-index: 1;

    .navbar-component{
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;

        .usr-avt{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            padding: 4px;
            border: 2px solid $white-color;
        }

        .navbar-title{
            display: none;
            font-size: 3.4rem;
            font-family: fantasy !important;
        }

        .logout{
            height: 56px;
            width: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #345994;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .logout:hover{
            opacity: 0.8;
        }
    }

    .nav-dir{
        margin-top: 50px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .nav-dir-item{
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }

    .nav-dir-item:hover{
        background-color: #345994;
    }

    .nav-dir-item.active{
        background-color: #345994;
    }
}


.ce-chat-list{
    padding-left: 20px;
    padding-right: 20px;

    
    .ce-chat-form{
        height: 100px !important;
        display: flex;
        align-items: center;

        .ce-chat-form-title{
            color: $subject-color;
            position: unset !important;
        }

        .ce-chat-form-input{
            font-size: 1.8rem !important;
            height: 68px !important;
            width:  100% !important;
            top: 10px !important;
            left: 0 !important;
            z-index: 99;
        }
        .ce-chat-form-button{
            top: 50% !important;
            right:0 !important;
            transform: translateY(-50%) !important;
            background-color: #4b74b6 !important;
            height: 50px !important;
            width: 50px !important;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem !important;
            color: #f1f1f1 !important;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
            border: none !important;
        }
    }

    .ce-chat-card{
        height: 100px !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 4px !important;
        margin-bottom: 20px;

        .ce-chat-card-title{
            font-family: Arial, Verdana, Tahoma !important;
            top: 26px !important;
            left: 76px !important;
            font-size: 1.8rem !important;
            color: $subject-color;
        }

        .ce-chat-card-avatar{
            top: 50% !important;
            transform: translateY(-50%);
            height: 52px !important;
            width: 52px !important;
            border-radius: 50%;
            border: 2px solid #4b74b6;
        }

        .ce-chat-card-subtitle{
            font-family: Arial, Verdana, Tahoma !important;
            position: absolute;
            left: 76px !important;
            top : 54px !important;
        }
    }

    .ce-active-chat-card.ce-chat-card{
        background-color: $subject-color !important;
        
        .ce-chat-card-title{
            color: $white-color;
        }

        .ce-chat-card-avatar{
            border: 2px solid $white-color;
        }

        .ce-chat-card-subtitle{
            color: #d8d6d6 !important;
        }

        .ce-chat-card-time-stamp{
            color: #d8d6d6 !important;
        }
    }
}

.ce-chat-feed-column{
    border: none !important;
    box-shadow: -12px 18px 10px rgba(0, 0, 0, 0.3);

    .ce-chat-feed{

        .ce-chat-header{
            background-color: $subject-color !important;
            color: $white-color !important;
        }

        .ce-message-list{
            height: calc((100% - 85px) - 84px) !important;
            padding-left: 20px ;
            padding-right: 20px;
            .ce-my-message-timestamp{
                color: #ccc !important;
            }
    
            .ce-my-message-body{
                font-family: Arial, Verdana, Tahoma !important;
                color: #f1f1f1 !important;
                background-color: #4b74b6 !important;
                border-radius: 30px 30px 2px !important;
    
            }
    
            .ce-their-message-sender-username{
                padding-left: 48px !important;
            }
    
            .ce-their-message-body{
                font-family: Arial, Verdana, Tahoma !important;
                border-radius: 2px 30px 30px !important;
            }
        }

        .ce-message-form{
            position: relative;
            background-color: $subject-color;
            display: flex;
            height: 80px;
            align-items: center;
            
            #msg-textarea{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -8%);
                height: 50px !important;
                padding: 14px 20px 14px 60px!important;
                border-radius: 30px;
                font-size: 1.6rem !important;
                width : 80% !important;
            }
            .ce-message-form-attachments-row{
                position: absolute !important;
                top: -140% !important;
            }
            .ce-attachment-input{

                position: unset !important;

                .ce-attachment-icon{
                    font-size: 2.4rem !important;
                    position: absolute;
                    top: 35% !important;
                    left: 13% !important;
                }

            }
            #ce-send-message-button{
                position: absolute !important;
                top: 30% !important;
                right: 11% !important;
                height: 40px !important;
                width: 40px !important;
                border-radius: 50% !important;
                background-color:#346989 !important;
                display: flex !important;
                justify-content: center;
                align-items: center;
                font-size: 1.8rem;
            }
        }

        .ce-their-message-images img,
        .ce-my-message-images img{
            border-radius: 20px !important;
            border: none !important;
        }
    }
}

.ce-chat-settings-column{
    box-shadow: -12px 18px 10px rgba(0, 0, 0, 0.3);
    .ce-chat-settings{
        background-color: $white-color;

        .ce-chat-settings-title{
            color: $subject-color !important;
        }
    }
}

.ce-chat-settings{
    color: $subject-color !important;

     .ce-chat-settings-title{
        color: $black-color !important;
        font-size: 2.4rem !important;
        margin-bottom: 20px;
     }

     .ce-settings-people-dropdown{
        padding-bottom: 20px !important;
     }

     .ce-autocomplete-input{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
     }

    .ce-default-button{
        font-size: 2.8rem !important;
        color: $subject-color !important;
        border: none !important;
        background-color: transparent !important;
        top: 20px !important;
        right: unset !important;
        left: 24px !important;
    }

    .ce-dropdown-label{
        color: $subject-color !important;
    }

    .ce-avatar + div{
        font-size: 1.8rem !important;
    }

    .ce-avatar-status{
        width: 12px !important;
        height: 12px !important;
    }

    .ce-add-member-option{
        font-family: sans-serif, Arial, Helvetica !important;
        font-size: 1.6rem;
        color: #4f4e4e !important;
    }

    .ce-autocomplete-close + div {
        margin-top: 2px;
        margin-bottom: 4px;
        background-color: #d6d5d5;
        border-radius: 4px;
    }

    .ce-danger-button:hover{
        background-color: rgb(245, 34, 45) !important;
        color: $white-color !important;
    }

    .ce-autocomplete-close{
        font-size: 1.6rem;
        top: 9px !important;
        right: 18px !important;
    }
}

.ce-mobile-chat-list-button,
.ce-mobile-chat-settings-button{
    top: 20px !important;
    font-size: 2.8rem !important;
    color: $white-color !important;
    background-color: transparent !important;
    border: none !important;
}

.ce-mobile-chat-settings-button{
    right: 24px !important;
}

.ce-mobile-chat-list-button{
    left: 24px !important;
}


@media (max-width: 575px){
    .disable {
        display: none !important;
    }

    .ce-chat-engine{
        margin-left: 0 !important;
        // padding-top: 60px !important;
    }

    .navbar{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        flex-direction: row;
        width: 100%;
        justify-content: unset;
        height: 80px;
        z-index: 99;

        .navbar-component{
            .usr-avt{
                position: absolute;
                top:50%;
                left: 40px;
                transform: translateY(-50%);
                position: absolute;
                top:50%;
                align-self: self-start;
                height: 56px;
                width: 56px;
            }

            .navbar-title{
                position: absolute;
                top:50%;
                left: 50%;
                letter-spacing: 2px;
                transform: translate(-50%,-50%);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                display: block;
            }


            .logout{
                height: 56px;
                width: 56px;
                position: absolute;
                top:50%;
                right: 40px;
                transform: translateY(-50%);
            }
        }

        .nav-dir{
            background-color: $subject-color;
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            flex-direction: row;
        }
    }

    .ce-chat-list {

        .ce-chat-form {

            .ce-chat-form-title{
                visibility: hidden;
            }
            .ce-chat-form-button{
                position: fixed !important;
                height: 60px !important;
                width: 60px !important;
                top: 80% !important;
                right: 6% !important;
            }

            .ce-chat-form-input{
                top: 80px !important;
            }

        }
    }
    

    .ce-dropdown-children{

        .ce-add-member-option{
            padding: 20px 12px !important;
        }
    }
}

